/*
* section-main-callout
*
*
* #critial
**/

#main-callout {
    position: relative;
    min-height: 608px;
    margin: 120px 0 0 0;    
    background-color: $brand-black;

    @media screen and (max-width: $screen-sm) { 
        margin-top: 0px;
        min-height: 363px;
    }

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0px;
        left: 50%;
        margin: 0 0 0 -498px;
        background-size: 970px 508px;
        background-position: center;
        background-repeat: no-repeat;
        @include icon( lg-background, 970px, 508px, transparent, $brand-secondary );
        width: 970px; // width has to go under the mixin

        @media screen and (max-width: $screen-sm) {
            left: 0;
            margin: 0 0 0 -10px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include icon( sm-background, 545px, 363px, transparent, $brand-secondary );
            width: 100%; // width has to go under the mixin
        }
    
    } // &:after
   

    .callout-container {
        padding: 125px 0 0 0;
        
        @media screen and (max-width: $screen-sm) {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }

        h1 {
            max-width: 570px;
            margin: 0 auto 20px auto;
            font-size: $font-size-callout;
            font-weight: 700;
            line-height: 1.25em;
            text-align: center;

            @media screen and (max-width: $screen-sm) {
                width: 100%;
                max-width: 300px;
                margin: -30px auto 10px auto;
                font-size: 1.15em;
            }

        } // h1

        h2 {
            margin: 0 0 0 0;
            font-size: $font-size-base;
            font-weight: 500;
            
            @media screen and (max-width: $screen-sm) {
                margin: 0 auto 0 auto;
                font-size: .80em;
            }

        } // h2

        p {
            margin: 0 0 20px 0;
            font-size: $font-size-base;
            font-weight: 500;
            
            @media screen and (max-width: $screen-sm) {
                margin: 0 auto 10px auto;
                font-size: .80em;
            }

        } // p
        
        .register-now.btn {
            margin: 5px auto 15px auto;
            
            @media screen and (max-width: $screen-sm) {
                margin: 15px auto 0px auto;
            }

            &:hover,
            &:active {
                background-color: $brand-primary;
                color: #fff;

            } // &:active, &:hover

        } // .register-now.btn    

    } // .callout-container

    #presented-by {
        margin: 35px auto 0 auto;
        font-size: $font-size-small;
        font-weight: 200;
        font-family: $font-family-sans-serif;
        letter-spacing: 0.09px;
        line-height: 27px;
        color: $grey-light;

        &:after {
            content: '';
            position: relative;
            display: block;
            float: none;
            clear: both;
            height: 1px;
        } // &:after

        .logo-container {
            position: relative;
            display: block;
            width: 100%;
            text-align: center;

            .logo {
                position: relative;
                display: inline-block;
                width: 150px;
                height: 56px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                text-indent: -9999px;
                z-index: 200;
        
            
                &.jellyfish {
        
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 18px;
                        right: 18px;
                        background-size: 124px 26px;
                        background-position: center;
                        background-repeat: no-repeat;
                        @include icon( jellyfish-logo, 124px, 26px, #ffffff, '' );
                    } // &:after

                } //  &.jellyfish 
                
                &.ibm {
                    //background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg');
                    //background-image: url('../images/logo-ibm.png');
                    
                    background-image: url("https://engage2.silverpop.com/landingpages/service/userContentService?contentId=7546979");
                } // &.ibm 

            } // .logo

        } // logo-container

    } // #presented-by
    
    .scroll-for-more {
        display: block;
        position: relative;
        height: 112px;
        width: 160px;
        margin: 20px auto 0 auto;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
        text-indent: -9999px;

        @media screen and (max-width: $screen-sm) {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            background-size: 153px 95px;
            background-position: center;
            background-repeat: no-repeat;
            // internal style for fill and stroke
            @include icon( scroll-button-1, 153px, 95px, transparent, transparent );
            z-index: 10;            
        } // &:after

    } // .scroll-for-more 

} // .main-callout
