/*
Fonts:
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif;

Colors:
#7f3f97; -- purple
#8bc53f; -- green
#1c1c1c; -- black
#2d2d2d; -- dark gray
#3c3c3c; -- text grey
#f1f1f1; -- light grey
#ffffff; -- white
*/

body {
    font-size: $font-size-base;
    font-weight: 300;
    font-family: $font-family-sans-serif;
    letter-spacing: 0.09px;
    line-height: 27px;
    color: $grey-text;

    h1 {
        font-size: $font-size-callout;
        font-weight: 700;
        font-family: $font-family-sans-serif;
        letter-spacing: 0.09px;
        line-height: 27px;
        color: $brand-primary; 
    } // h1
    
    h2 {
        font-size: $font-size-xlarge;
        font-weight: 500;
        font-family: $font-family-monospace;
        letter-spacing: 0;
        line-height: 27px;
        color: $brand-primary; 
    } // h2

    .white { color: #fff; }
    .green { color: $brand-secondary; }
    .purple { color: $brand-primary; }

    .mono { font-family: $font-family-monospace; }
    .uppercase { text-transform: uppercase; }
    .light { font-weight: 300; }        // mono & sans 
    .regular { font-weight: 400; }      // mono & sans 
    .medium { font-weight: 500; }       // mono & sans 
    .bold { font-weight: 700; }         // mono only
    strong, b { font-weight: 500; }

    .center { text-align: center; }
    .left { text-align: left; }
    .right { text-align: right; }

    .third-width {
        position: relative;
        display: inline-block;
        width: 30%;
        margin: 0 2% 2% 0;

        @media screen and (max-width: $screen-xs) {   
            width: 100%;
        }

    } // third-width
    .half-width {
        position: relative;
        display: inline-block;
        width: 45%;
        min-width: 280px;
        margin: 0 2% 2% 0;
        
        @media screen and (max-width: $screen-xs) {   
            width: 100%;
        }

    } // third-width

    .btn {
        position: relative;
        display: block;
        width: 186px;
        height: 51px;
        background-color: $brand-secondary;
        font-size: 15px;
        font-weight: 500;
        font-family: $font-family-monospace;
        text-transform: uppercase; 
        text-decoration: none;
        letter-spacing: 2.2px;
        line-height: 51px;
        color: $grey-base;
        z-index: 2;
    
        &:hover,
        &:active {
            cursor: pointer;
        }  //&:hover, &:active

    } // btn
    
    .slashed {
        font-size: $font-size-large;
        font-weight: 700;
        font-family: $font-family-monospace;
        letter-spacing: 3.8px;
        line-height: 27px;
        color: $brand-primary; 


        @media screen and (max-width: $screen-xs) {            
            padding-top: 15px;
        }

        &:before,
        &:after {
            content: "//";
            display: inline;
            font-weight: 100;
            color: $brand-secondary; 
        } // &:after, &:before

    } //slashed

    .icon {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        outline: 1px solid $brand-primary;

        @media screen and (max-width: $screen-sm) {            
            display: none;
        }

        &:after {
            content: '';
            display: block;
            background-size: 48px 48px;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.pencil:after {
            @include icon( pencil, 60px, 60px, transparent );
        } // pencil
        &.microphone:after {
            @include icon( microphone, 60px, 60px, transparent );
        } // microphone
        &.lightbulb:after {
            @include icon( lightbulb, 60px, 60px, transparent );
        } // lightbulb
        
    } // icon

    .psudo-button-border { 
        position: relative; 
        display: block;
        width: 186px;
        height: 51px;
        margin: 0 auto;
        z-index: 100;

        &:after {
            content: '';
            position: absolute; 
            display: block;
            top: 10px;
            left: 10px;
            width: 184px;
            height: 49px;
            outline: 1px solid $brand-primary;
        }

        &:hover {   
             &:after {
                top: 1px;
                left: 1px;       
            } // &:after

        } // &:hover

    } // psudo-button-border

} // body

main {
    position: relative;
    width: 100%;
    margin-top: 80px;
    z-index: 8;
    
	@media screen and (max-width: $screen-sm-min){
		margin-top: 0px;
    } // media: screen-sm-min

   .page-divider-1 {
        position: relative;
        width: 100%;
        height: 271px;
        margin-top: -100px;
        margin-bottom: -50px;
        z-index: 9;

        @media screen and (max-width: $screen-xs) {     
            height: 54px;
            margin-top: 0px;
            margin-bottom: 0px;
        }    
        
        @media screen and (min-width: $screen-xs+1) and (max-width: $screen-sm) {    
            height: 104px;
            margin-top: 0px;
            margin-bottom: 0px;
        }    
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0px;
            left: 0px;
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat;
            @include icon( page-divider-1, 1920px, 271px, transparent );
            width: 100%;

            @media screen and (max-width: $screen-xs) {       
                background-size: cover;
                height: 54px;
            }
            
            @media screen and (min-width: $screen-xs+1) and (max-width: $screen-sm) {  
                top: -1px;          
                background-size: cover;
                height: 104px;
            }

        } // &:after 

   } // .page-divider-1
   
    .page-divider-2 {
        position: relative;
        width: 100%;
        height: 98px;
        z-index: 9;
        
        @media screen and (max-width: $screen-sm) {       
            height: 47px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0px;
            left: 0px;
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat;
            @include icon( page-divider-2, 1920px, 97px, transparent );
            width: 100%;

            @media screen and (max-width: $screen-sm) {     
                background-size: cover;
                height: 47px;
            }

        } // &:after 

    } // .page-divider-2
    
     .page-divider-3 {
         position: relative;
         width: 100%;
         height: 126px;
         z-index: 9;
         
        @media screen and (max-width: $screen-sm) {       
            height: 43px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
 
         &:after {
             content: '';
             position: absolute;
             display: block;
             top: 0px;
             left: 0px;
             background-size: cover;
             background-position: left;
             background-repeat: no-repeat;
             @include icon( page-divider-3, 1920px, 126px, transparent );
             width: 100%;
             
            @media screen and (max-width: $screen-sm) {    
                top: 1px;       
                background-size: cover;
                height: 43px;
            }
         } // &:after 
 
     } // .page-divider-3
     
      .page-divider-4 {
        position: relative;
        width: 100%;
        height: 102px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        z-index: 9;
          
        @media screen and (max-width: $screen-sm) {       
            height: 51px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

          &:after {
              content: '';
              position: absolute;
              display: block;
              top: 0px;
              left: 0px;
              background-size: cover;
              background-position: left;
              background-repeat: no-repeat;
              @include icon( page-divider-4, 1920px, 102px, transparent );
              width: 100%;
              
                @media screen and (max-width: $screen-sm) {   
                    top: 1px;    
                    background-size: cover;
                    height: 51px;
                }
          } // &:after 
  
      } // .page-divider-4
    
} // main

section {
    margin: 0;
    padding: 0 10%;

} // section


@media screen and (max-width: 480px) {
}